.navbar{
    height: 50px;
    background-color: #39b920;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
    display: flex;
  }
  
  .navButton{
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:#39b920;
  }

